@media  (max-width:1600px) {
  div >* {
    flex-wrap: wrap;
    display: flex;
    width: auto;
    left: 10px;
    top: 10px;
    right: 10px;


  }
}
.mat-card-content {
  width: 100%;
}

mat-card {
  width: 600px;
  position: absolute;
  top: 30%;
  left: 35% ;
  }

  mat-card-content *{
    width: 100%;
  }
  button {
    color: yellow;
    background-color: black;
    width: 100%;
    margin-top: 5px
  }
  .register-form {
    color: yellow;
  background-image:linear-gradient(rgb(54, 53, 52),green, rgb(54, 53, 52));
  }

.spinner {
  position: fixed;
  left: 50%;
  top: 35%;
}
